In [51]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

In [52]:
path_rental = "Resources/Average Rents_Concat.csv"
# path_Number_of_Units = pd.re("Resources/Number_of_Units_Concat.csv")
rental_df = pd.read_csv(path_rental)
rental_df
#Total rows are 8950

,Province,Centre,Zone,Neighbourhood,Dwelling Type,Bachelor,1 Bedroom,2 Bedroom,3 Bedroom +,Total,Year
0,Nfld.Lab.,St. John's,St. John's East,St. John's East,Row,0.0,783.0,943.0,0.0,1166.0,2018
1,Nfld.Lab.,St. John's,St. John's East,St. John's East,Apt & Other,664.0,829.0,1049.0,1002.0,941.0,2018
2,Nfld.Lab.,St. John's,St. John's West,St. John's West,Row,0.0,0.0,743.0,0.0,576.0,2018
3,Nfld.Lab.,St. John's,St. John's West,St. John's West,Apt & Other,762.0,773.0,881.0,959.0,839.0,2018
4,Nfld.Lab.,St. John's,Remainder of CMA,Remainder of CMA,Row,0.0,0.0,0.0,0.0,0.0,2018
...,...,...,...,...,...,...,...,...,...,...,...
8945,B.C.,Victoria,Oak Bay,Oak Bay North,Apt & Other,1107.0,1226.0,1679.0,0.0,1405.0,2022
8946,B.C.,Victoria,North Saanich,North Saanich,Row,0.0,0.0,0.0,0.0,0.0,2022
8947,B.C.,Victoria,North Saanich,North Saanich,Apt & Other,0.0,0.0,0.0,0.0,0.0,2022
8948,B.C.,Victoria,Sidney,Sidney,Row,0.0,0.0,0.0,0.0,0.0,2022
8949,B.C.,Victoria,Sidney,Sidney,Apt & Other,0.0,1447.0,1753.0,3093.0,1635.0,2022

In [53]:
#checking the datatype
rental_df.dtypes

Province           object
Centre             object
Zone               object
Neighbourhood      object
Dwelling Type      object
Bachelor          float64
1 Bedroom         float64
2 Bedroom         float64
3 Bedroom +       float64
Total             float64
Year                int64
dtype: object

In [55]:
#make a copy to drop na
rental_df_1= rental_df.copy()

In [58]:
#drop na
rental_df_1.dropna()
rental_df_1
#dropping NA's still same number of rows and we have zeroes

,Province,Centre,Zone,Neighbourhood,Dwelling Type,Bachelor,1 Bedroom,2 Bedroom,3 Bedroom +,Total,Year
0,Nfld.Lab.,St. John's,St. John's East,St. John's East,Row,0.0,783.0,943.0,0.0,1166.0,2018
1,Nfld.Lab.,St. John's,St. John's East,St. John's East,Apt & Other,664.0,829.0,1049.0,1002.0,941.0,2018
2,Nfld.Lab.,St. John's,St. John's West,St. John's West,Row,0.0,0.0,743.0,0.0,576.0,2018
3,Nfld.Lab.,St. John's,St. John's West,St. John's West,Apt & Other,762.0,773.0,881.0,959.0,839.0,2018
5,Nfld.Lab.,St. John's,Remainder of CMA,Remainder of CMA,Apt & Other,0.0,720.0,715.0,677.0,709.0,2018
...,...,...,...,...,...,...,...,...,...,...,...
8939,B.C.,Victoria,Langford/Vw Royal/Colwood/Sooke,Colwood,Apt & Other,0.0,1226.0,1495.0,0.0,1365.0,2022
8940,B.C.,Victoria,Langford/Vw Royal/Colwood/Sooke,West Shore/Other,Row,0.0,0.0,0.0,2513.0,2513.0,2022
8943,B.C.,Victoria,Oak Bay,Oak Bay South,Apt & Other,0.0,1282.0,1732.0,0.0,1542.0,2022
8945,B.C.,Victoria,Oak Bay,Oak Bay North,Apt & Other,1107.0,1226.0,1679.0,0.0,1405.0,2022
8949,B.C.,Victoria,Sidney,Sidney,Apt & Other,0.0,1447.0,1753.0,3093.0,1635.0,2022

In [59]:
#now removing based on one column total not equal to zero
rental_df_2= rental_df[(rental_df["Total "]!=0)]
rental_df_2
#number of rows reduced to 4707

,Province,Centre,Zone,Neighbourhood,Dwelling Type,Bachelor,1 Bedroom,2 Bedroom,3 Bedroom +,Total,Year
0,Nfld.Lab.,St. John's,St. John's East,St. John's East,Row,0.0,783.0,943.0,0.0,1166.0,2018
1,Nfld.Lab.,St. John's,St. John's East,St. John's East,Apt & Other,664.0,829.0,1049.0,1002.0,941.0,2018
2,Nfld.Lab.,St. John's,St. John's West,St. John's West,Row,0.0,0.0,743.0,0.0,576.0,2018
3,Nfld.Lab.,St. John's,St. John's West,St. John's West,Apt & Other,762.0,773.0,881.0,959.0,839.0,2018
5,Nfld.Lab.,St. John's,Remainder of CMA,Remainder of CMA,Apt & Other,0.0,720.0,715.0,677.0,709.0,2018
...,...,...,...,...,...,...,...,...,...,...,...
8939,B.C.,Victoria,Langford/Vw Royal/Colwood/Sooke,Colwood,Apt & Other,0.0,1226.0,1495.0,0.0,1365.0,2022
8940,B.C.,Victoria,Langford/Vw Royal/Colwood/Sooke,West Shore/Other,Row,0.0,0.0,0.0,2513.0,2513.0,2022
8943,B.C.,Victoria,Oak Bay,Oak Bay South,Apt & Other,0.0,1282.0,1732.0,0.0,1542.0,2022
8945,B.C.,Victoria,Oak Bay,Oak Bay North,Apt & Other,1107.0,1226.0,1679.0,0.0,1405.0,2022
8949,B.C.,Victoria,Sidney,Sidney,Apt & Other,0.0,1447.0,1753.0,3093.0,1635.0,2022

In [60]:
#rentaldf = rental_df.replace(0, np.nan, inplace=True)

In [62]:
#replace 0 by Nan"s
rental_df.replace(0, np.nan, inplace=True)
rental_df

,Province,Centre,Zone,Neighbourhood,Dwelling Type,Bachelor,1 Bedroom,2 Bedroom,3 Bedroom +,Total,Year
0,Nfld.Lab.,St. John's,St. John's East,St. John's East,Row,NaN,783.0,943.0,NaN,1166.0,2018
1,Nfld.Lab.,St. John's,St. John's East,St. John's East,Apt & Other,664.0,829.0,1049.0,1002.0,941.0,2018
2,Nfld.Lab.,St. John's,St. John's West,St. John's West,Row,NaN,NaN,743.0,NaN,576.0,2018
3,Nfld.Lab.,St. John's,St. John's West,St. John's West,Apt & Other,762.0,773.0,881.0,959.0,839.0,2018
4,Nfld.Lab.,St. John's,Remainder of CMA,Remainder of CMA,Row,NaN,NaN,NaN,NaN,NaN,2018
...,...,...,...,...,...,...,...,...,...,...,...
8945,B.C.,Victoria,Oak Bay,Oak Bay North,Apt & Other,1107.0,1226.0,1679.0,NaN,1405.0,2022
8946,B.C.,Victoria,North Saanich,North Saanich,Row,NaN,NaN,NaN,NaN,NaN,2022
8947,B.C.,Victoria,North Saanich,North Saanich,Apt & Other,NaN,NaN,NaN,NaN,NaN,2022
8948,B.C.,Victoria,Sidney,Sidney,Row,NaN,NaN,NaN,NaN,NaN,2022
8949,B.C.,Victoria,Sidney,Sidney,Apt & Other,NaN,1447.0,1753.0,3093.0,1635.0,2022

In [63]:
#now drop nan's
rental_df_3 = rental_df.dropna()

In [64]:
#now number of rows reduced to 1479 but it dropped from any column with nan
rental_df_3

,Province,Centre,Zone,Neighbourhood,Dwelling Type,Bachelor,1 Bedroom,2 Bedroom,3 Bedroom +,Total,Year
1,Nfld.Lab.,St. John's,St. John's East,St. John's East,Apt & Other,664.0,829.0,1049.0,1002.0,941.0,2018
3,Nfld.Lab.,St. John's,St. John's West,St. John's West,Apt & Other,762.0,773.0,881.0,959.0,839.0,2018
7,N.S.,Halifax,Peninsula South,Downtown Halifax,Apt & Other,978.0,1202.0,1774.0,2099.0,1436.0,2018
9,N.S.,Halifax,Peninsula South,South End,Apt & Other,856.0,1120.0,1515.0,1852.0,1197.0,2018
11,N.S.,Halifax,Peninsula South,Peninsula Southwest,Apt & Other,757.0,963.0,1395.0,1722.0,1210.0,2018
...,...,...,...,...,...,...,...,...,...,...,...
8925,B.C.,Victoria,Saanich/Central Saanich,Saanich/University,Apt & Other,994.0,1337.0,1687.0,1874.0,1502.0,2022
8927,B.C.,Victoria,Saanich/Central Saanich,Saanich-Centre,Apt & Other,1131.0,1258.0,1582.0,1699.0,1371.0,2022
8933,B.C.,Victoria,Esquimalt,Esquimalt,Apt & Other,1044.0,1269.0,1403.0,1799.0,1327.0,2022
8935,B.C.,Victoria,Langford/Vw Royal/Colwood/Sooke,View Royal,Apt & Other,1534.0,1522.0,1858.0,2476.0,1822.0,2022
8937,B.C.,Victoria,Langford/Vw Royal/Colwood/Sooke,Langford,Apt & Other,1364.0,1592.0,1915.0,2197.0,1756.0,2022

In [65]:
#extract 2022
rental_df_2022 = rental_df_3.loc[(rental_df_3["Year"]==2022)]

In [67]:
#mean will be higher because number of rows have been reduced
rental_df_2022.mean()

C:\Users\ashis\AppData\Local\Temp\ipykernel_4192\1487897114.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  rental_df_2022.mean()

Bachelor        951.943463
1 Bedroom      1158.929329
2 Bedroom      1406.918728
3 Bedroom +    1696.558304
Total          1280.392226
Year           2022.000000
dtype: float64

,Province,Centre,Zone,Neighbourhood,Dwelling Type,Bachelor,1 Bedroom,2 Bedroom,3 Bedroom +,Total,Year
0,Nfld.Lab.,St. John's,St. John's East,St. John's East,Row,0.0,783.0,943.0,0.0,1166.0,2018
1,Nfld.Lab.,St. John's,St. John's East,St. John's East,Apt & Other,664.0,829.0,1049.0,1002.0,941.0,2018
2,Nfld.Lab.,St. John's,St. John's West,St. John's West,Row,0.0,0.0,743.0,0.0,576.0,2018
3,Nfld.Lab.,St. John's,St. John's West,St. John's West,Apt & Other,762.0,773.0,881.0,959.0,839.0,2018
5,Nfld.Lab.,St. John's,Remainder of CMA,Remainder of CMA,Apt & Other,0.0,720.0,715.0,677.0,709.0,2018
...,...,...,...,...,...,...,...,...,...,...,...
8939,B.C.,Victoria,Langford/Vw Royal/Colwood/Sooke,Colwood,Apt & Other,0.0,1226.0,1495.0,0.0,1365.0,2022
8940,B.C.,Victoria,Langford/Vw Royal/Colwood/Sooke,West Shore/Other,Row,0.0,0.0,0.0,2513.0,2513.0,2022
8943,B.C.,Victoria,Oak Bay,Oak Bay South,Apt & Other,0.0,1282.0,1732.0,0.0,1542.0,2022
8945,B.C.,Victoria,Oak Bay,Oak Bay North,Apt & Other,1107.0,1226.0,1679.0,0.0,1405.0,2022
8949,B.C.,Victoria,Sidney,Sidney,Apt & Other,0.0,1447.0,1753.0,3093.0,1635.0,2022