In [11]:
#import dependencies
import pandas as pd
import numpy as np

In [12]:
#define path 
filepath_2018 = "VR_clean_2018.csv"
filepath_2019 = "VR_clean_2019.csv"
filepath_2020 = "VR_clean_2020.csv"
filepath_2021 = "VR_clean_2021.csv"
filepath_2022 = "VR_clean_2022.csv"

In [13]:
#read files
df_2018 = pd.read_csv(filepath_2018)
df_2019 = pd.read_csv(filepath_2019)
df_2020 = pd.read_csv(filepath_2020)
df_2021 = pd.read_csv(filepath_2021)
df_2022 = pd.read_csv(filepath_2022)

In [14]:
df_2019

,Province,Centre,Zone,Neighbourhood,Dwelling Type,Bachelor,1 Bedroom,2 Bedroom,3 Bedroom +,Total,Year
0,Nfld.Lab.,St. John's,St. John's East,St. John's East,Row,NaN,NaN,NaN,NaN,NaN,2019
1,Nfld.Lab.,St. John's,St. John's East,St. John's East,Apt & Other,3.6,NaN,5.7,NaN,6.3,2019
2,Nfld.Lab.,St. John's,St. John's West,St. John's West,Row,NaN,NaN,4.8,NaN,3.0,2019
3,Nfld.Lab.,St. John's,St. John's West,St. John's West,Apt & Other,6.0,4.6,7.3,4.0,6.1,2019
4,Nfld.Lab.,St. John's,Remainder of CMA,Remainder of CMA,Row,NaN,NaN,NaN,NaN,NaN,2019
...,...,...,...,...,...,...,...,...,...,...,...
1785,B.C.,Victoria,Oak Bay,Oak Bay North,Apt & Other,0.0,0.3,0.4,NaN,0.3,2019
1786,B.C.,Victoria,North Saanich,North Saanich,Row,NaN,NaN,NaN,NaN,NaN,2019
1787,B.C.,Victoria,North Saanich,North Saanich,Apt & Other,NaN,NaN,NaN,NaN,NaN,2019
1788,B.C.,Victoria,Sidney,Sidney,Row,NaN,NaN,NaN,NaN,NaN,2019
1789,B.C.,Victoria,Sidney,Sidney,Apt & Other,NaN,NaN,NaN,NaN,NaN,2019

In [15]:
df_2020

,Province,Centre,Zone,Neighbourhood,Dwelling Type,Bachelor,1 Bedroom,2 Bedroom,3 Bedroom +,Total,Year
0,Nfld.Lab.,St. John's,St. John's East,St. John's East,Row,NaN,NaN,NaN,NaN,NaN,2020
1,Nfld.Lab.,St. John's,St. John's East,St. John's East,Apt & Other,NaN,5.2,8.3,NaN,7.1,2020
2,Nfld.Lab.,St. John's,St. John's West,St. John's West,Row,NaN,NaN,4.8,NaN,1.4,2020
3,Nfld.Lab.,St. John's,St. John's West,St. John's West,Apt & Other,7.5,6.5,8.1,NaN,7.5,2020
4,Nfld.Lab.,St. John's,Remainder of CMA,Remainder of CMA,Row,NaN,NaN,1.5,NaN,1.4,2020
...,...,...,...,...,...,...,...,...,...,...,...
1785,B.C.,Victoria,Oak Bay,Oak Bay North,Apt & Other,NaN,1.3,0.9,NaN,1.1,2020
1786,B.C.,Victoria,North Saanich,North Saanich,Row,NaN,NaN,NaN,NaN,NaN,2020
1787,B.C.,Victoria,North Saanich,North Saanich,Apt & Other,NaN,NaN,NaN,NaN,NaN,2020
1788,B.C.,Victoria,Sidney,Sidney,Row,NaN,NaN,NaN,NaN,NaN,2020
1789,B.C.,Victoria,Sidney,Sidney,Apt & Other,NaN,0.0,NaN,NaN,0.0,2020

In [16]:
df_2021

,Province,Centre,Zone,Neighbourhood,Dwelling Type,Bachelor,1 Bedroom,2 Bedroom,3 Bedroom +,Total,Year
0,Nfld.Lab.,St. John's,St. John's East,St. John's East,Row,NaN,NaN,NaN,NaN,NaN,2021
1,Nfld.Lab.,St. John's,St. John's East,St. John's East,Apt & Other,10.6,NaN,1.9,NaN,3.1,2021
2,Nfld.Lab.,St. John's,St. John's West,St. John's West,Row,NaN,NaN,0.0,NaN,8.7,2021
3,Nfld.Lab.,St. John's,St. John's West,St. John's West,Apt & Other,4.6,5.4,2.7,0.8,3.5,2021
4,Nfld.Lab.,St. John's,Remainder of CMA,Remainder of CMA,Row,NaN,NaN,0.0,NaN,0.0,2021
...,...,...,...,...,...,...,...,...,...,...,...
1785,B.C.,Victoria,Oak Bay,Oak Bay North,Apt & Other,NaN,0.3,0.4,NaN,0.3,2021
1786,B.C.,Victoria,North Saanich,North Saanich,Row,NaN,NaN,NaN,NaN,NaN,2021
1787,B.C.,Victoria,North Saanich,North Saanich,Apt & Other,NaN,NaN,NaN,NaN,NaN,2021
1788,B.C.,Victoria,Sidney,Sidney,Row,NaN,NaN,NaN,NaN,NaN,2021
1789,B.C.,Victoria,Sidney,Sidney,Apt & Other,NaN,0.0,1.0,0.0,0.5,2021

In [17]:
df_2022

,Province,Centre,Zone,Neighbourhood,Dwelling Type,Bachelor,1 Bedroom,2 Bedroom,3 Bedroom +,Total,Year
0,Nfld.Lab.,St. John's,St. John's East,St. John's East,Row,NaN,NaN,NaN,NaN,NaN,2022
1,Nfld.Lab.,St. John's,St. John's East,St. John's East,Apt & Other,4.5,3.6,2.5,NaN,3.2,2022
2,Nfld.Lab.,St. John's,St. John's West,St. John's West,Row,NaN,NaN,0.0,NaN,0.0,2022
3,Nfld.Lab.,St. John's,St. John's West,St. John's West,Apt & Other,7.4,2.8,0.9,3.0,2.5,2022
4,Nfld.Lab.,St. John's,Remainder of CMA,Remainder of CMA,Row,NaN,NaN,0.0,NaN,0.0,2022
...,...,...,...,...,...,...,...,...,...,...,...
1785,B.C.,Victoria,Oak Bay,Oak Bay North,Apt & Other,NaN,0.2,1.1,NaN,0.7,2022
1786,B.C.,Victoria,North Saanich,North Saanich,Row,NaN,NaN,NaN,NaN,NaN,2022
1787,B.C.,Victoria,North Saanich,North Saanich,Apt & Other,NaN,NaN,NaN,NaN,NaN,2022
1788,B.C.,Victoria,Sidney,Sidney,Row,NaN,NaN,NaN,NaN,NaN,2022
1789,B.C.,Victoria,Sidney,Sidney,Apt & Other,NaN,NaN,6.9,NaN,NaN,2022

In [18]:
combined_df = pd.merge(df_2019,df_2020, on= ["Province", "Centre", "Zone", "Neighbourhood"], how = "left")

In [19]:
combined_df

,Province,Centre,Zone,Neighbourhood,Dwelling Type _x,Bachelor _x,1 Bedroom_x,2 Bedroom_x,3 Bedroom +_x,Total _x,Year_x,Dwelling Type _y,Bachelor _y,1 Bedroom_y,2 Bedroom_y,3 Bedroom +_y,Total _y,Year_y
0,Nfld.Lab.,St. John's,St. John's East,St. John's East,Row,NaN,NaN,NaN,NaN,NaN,2019,Row,NaN,NaN,NaN,NaN,NaN,2020
1,Nfld.Lab.,St. John's,St. John's East,St. John's East,Row,NaN,NaN,NaN,NaN,NaN,2019,Apt & Other,NaN,5.2,8.3,NaN,7.1,2020
2,Nfld.Lab.,St. John's,St. John's East,St. John's East,Apt & Other,3.6,NaN,5.7,NaN,6.3,2019,Row,NaN,NaN,NaN,NaN,NaN,2020
3,Nfld.Lab.,St. John's,St. John's East,St. John's East,Apt & Other,3.6,NaN,5.7,NaN,6.3,2019,Apt & Other,NaN,5.2,8.3,NaN,7.1,2020
4,Nfld.Lab.,St. John's,St. John's West,St. John's West,Row,NaN,NaN,4.8,NaN,3.0,2019,Row,NaN,NaN,4.8,NaN,1.4,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3575,B.C.,Victoria,North Saanich,North Saanich,Apt & Other,NaN,NaN,NaN,NaN,NaN,2019,Apt & Other,NaN,NaN,NaN,NaN,NaN,2020
3576,B.C.,Victoria,Sidney,Sidney,Row,NaN,NaN,NaN,NaN,NaN,2019,Row,NaN,NaN,NaN,NaN,NaN,2020
3577,B.C.,Victoria,Sidney,Sidney,Row,NaN,NaN,NaN,NaN,NaN,2019,Apt & Other,NaN,0.0,NaN,NaN,0.0,2020
3578,B.C.,Victoria,Sidney,Sidney,Apt & Other,NaN,NaN,NaN,NaN,NaN,2019,Row,NaN,NaN,NaN,NaN,NaN,2020
3579,B.C.,Victoria,Sidney,Sidney,Apt & Other,NaN,NaN,NaN,NaN,NaN,2019,Apt & Other,NaN,0.0,NaN,NaN,0.0,2020

In [20]:
#concatenate on rows
VR_combined_df = pd.concat([df_2018,df_2019,df_2020,df_2021,df_2022],axis = 0)

In [21]:
VR_combined_df

,Province,Centre,Zone,Neighbourhood,Dwelling Type,Bachelor,1 Bedroom,2 Bedroom,3 Bedroom +,Total,Year
0,Nfld.Lab.,St. John's,St. John's East,St. John's East,Row,NaN,NaN,NaN,NaN,NaN,2018
1,Nfld.Lab.,St. John's,St. John's East,St. John's East,Apt & Other,NaN,3.9,6.4,5.2,5.6,2018
2,Nfld.Lab.,St. John's,St. John's West,St. John's West,Row,NaN,NaN,0.0,NaN,1.5,2018
3,Nfld.Lab.,St. John's,St. John's West,St. John's West,Apt & Other,3.9,6.1,6.1,NaN,6.2,2018
4,Nfld.Lab.,St. John's,Remainder of CMA,Remainder of CMA,Row,NaN,NaN,NaN,NaN,NaN,2018
...,...,...,...,...,...,...,...,...,...,...,...
1785,B.C.,Victoria,Oak Bay,Oak Bay North,Apt & Other,NaN,0.2,1.1,NaN,0.7,2022
1786,B.C.,Victoria,North Saanich,North Saanich,Row,NaN,NaN,NaN,NaN,NaN,2022
1787,B.C.,Victoria,North Saanich,North Saanich,Apt & Other,NaN,NaN,NaN,NaN,NaN,2022
1788,B.C.,Victoria,Sidney,Sidney,Row,NaN,NaN,NaN,NaN,NaN,2022
1789,B.C.,Victoria,Sidney,Sidney,Apt & Other,NaN,NaN,6.9,NaN,NaN,2022

In [22]:
#save 
VR_combined_df.to_csv("VR_combined_clean_.csv",index=False)