In [1]:
import pandas as pd
import numpy as np

In [2]:
filepath_2018 = "Number_of_units_clean_2018.csv"
filepath_2019 = "Number_of_units_clean_2019.csv"
filepath_2020 = "Number_of_units_clean_2020.csv"
filepath_2021 = "Number_of_units_clean_2021.csv"
filepath_2022 = "Number_of_units_clean_2022.csv"

In [3]:
df_2018 = pd.read_csv(filepath_2018)
df_2019 = pd.read_csv(filepath_2019)
df_2020 = pd.read_csv(filepath_2020)
df_2021 = pd.read_csv(filepath_2021)
df_2022 = pd.read_csv(filepath_2022)

In [4]:
df_2018_wy = df_2018.loc[:, df_2018.columns != "Year"]
df_2019_wy = df_2019.loc[:, df_2019.columns != "Year"]
df_2020_wy = df_2020.loc[:, df_2020.columns != "Year"]
df_2021_wy = df_2021.loc[:, df_2021.columns != "Year"]
df_2022_wy = df_2022.loc[:, df_2022.columns != "Year"]

In [5]:
df_18_19 = pd.merge(df_2018_wy,df_2019_wy, how = "outer", on =[ "Province","Centre","Zone","Neighbourhood","Dwelling Type "], suffixes = (" 18" ," 19"))

In [6]:
df_18_19

,Province,Centre,Zone,Neighbourhood,Dwelling Type,Bachelor 18,1 Bedroom 18,2 Bedroom 18,3 Bedroom + 18,Total 18,Bachelor 19,1 Bedroom 19,2 Bedroom 19,3 Bedroom + 19,Total 19
0,Nfld.Lab.,St. John's,St. John's East,St. John's East,Row,1.0,22.0,16.0,16.0,55.0,1.0,22.0,18.0,17.0,58.0
1,Nfld.Lab.,St. John's,St. John's East,St. John's East,Apt & Other,203.0,641.0,1015.0,107.0,1966.0,195.0,661.0,1011.0,106.0,1973.0
2,Nfld.Lab.,St. John's,St. John's West,St. John's West,Row,0.0,46.0,21.0,0.0,67.0,0.0,46.0,21.0,0.0,67.0
3,Nfld.Lab.,St. John's,St. John's West,St. John's West,Apt & Other,149.0,427.0,859.0,126.0,1561.0,148.0,424.0,858.0,125.0,1555.0
4,Nfld.Lab.,St. John's,Remainder of CMA,Remainder of CMA,Row,0.0,0.0,64.0,6.0,70.0,0.0,3.0,72.0,6.0,81.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1785,B.C.,Victoria,Oak Bay,Oak Bay North,Apt & Other,34.0,356.0,263.0,3.0,656.0,34.0,366.0,262.0,3.0,665.0
1786,B.C.,Victoria,North Saanich,North Saanich,Row,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1787,B.C.,Victoria,North Saanich,North Saanich,Apt & Other,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1788,B.C.,Victoria,Sidney,Sidney,Row,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1789,B.C.,Victoria,Sidney,Sidney,Apt & Other,5.0,143.0,107.0,1.0,256.0,5.0,130.0,102.0,1.0,238.0

In [7]:
df_20 = pd.merge(df_18_19,df_2020_wy, how = "outer", on =[ "Province","Centre","Zone","Neighbourhood","Dwelling Type "])

In [8]:
df_20

,Province,Centre,Zone,Neighbourhood,Dwelling Type,Bachelor 18,1 Bedroom 18,2 Bedroom 18,3 Bedroom + 18,Total 18,Bachelor 19,1 Bedroom 19,2 Bedroom 19,3 Bedroom + 19,Total 19,Bachelor,1 Bedroom,2 Bedroom,3 Bedroom +,Total
0,Nfld.Lab.,St. John's,St. John's East,St. John's East,Row,1.0,22.0,16.0,16.0,55.0,1.0,22.0,18.0,17.0,58.0,1.0,22.0,18.0,17.0,58.0
1,Nfld.Lab.,St. John's,St. John's East,St. John's East,Apt & Other,203.0,641.0,1015.0,107.0,1966.0,195.0,661.0,1011.0,106.0,1973.0,197.0,669.0,1022.0,107.0,1995.0
2,Nfld.Lab.,St. John's,St. John's West,St. John's West,Row,0.0,46.0,21.0,0.0,67.0,0.0,46.0,21.0,0.0,67.0,0.0,48.0,21.0,0.0,69.0
3,Nfld.Lab.,St. John's,St. John's West,St. John's West,Apt & Other,149.0,427.0,859.0,126.0,1561.0,148.0,424.0,858.0,125.0,1555.0,148.0,427.0,858.0,125.0,1558.0
4,Nfld.Lab.,St. John's,Remainder of CMA,Remainder of CMA,Row,0.0,0.0,64.0,6.0,70.0,0.0,3.0,72.0,6.0,81.0,0.0,4.0,79.0,6.0,89.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1785,B.C.,Victoria,Oak Bay,Oak Bay North,Apt & Other,34.0,356.0,263.0,3.0,656.0,34.0,366.0,262.0,3.0,665.0,34.0,366.0,263.0,3.0,666.0
1786,B.C.,Victoria,North Saanich,North Saanich,Row,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1787,B.C.,Victoria,North Saanich,North Saanich,Apt & Other,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1788,B.C.,Victoria,Sidney,Sidney,Row,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1789,B.C.,Victoria,Sidney,Sidney,Apt & Other,5.0,143.0,107.0,1.0,256.0,5.0,130.0,102.0,1.0,238.0,9.0,157.0,126.0,1.0,293.0

In [9]:
df_21 = pd.merge(df_20,df_2021_wy, how = "outer", on =[ "Province","Centre","Zone","Neighbourhood","Dwelling Type "], suffixes = (" 20"," 21"))

In [10]:
df_21

,Province,Centre,Zone,Neighbourhood,Dwelling Type,Bachelor 18,1 Bedroom 18,2 Bedroom 18,3 Bedroom + 18,Total 18,...,Bachelor 20,1 Bedroom 20,2 Bedroom 20,3 Bedroom + 20,Total 20,Bachelor 21,1 Bedroom 21,2 Bedroom 21,3 Bedroom + 21,Total 21
0,Nfld.Lab.,St. John's,St. John's East,St. John's East,Row,1.0,22.0,16.0,16.0,55.0,...,1.0,22.0,18.0,17.0,58.0,1.0,22.0,18.0,17.0,58.0
1,Nfld.Lab.,St. John's,St. John's East,St. John's East,Apt & Other,203.0,641.0,1015.0,107.0,1966.0,...,197.0,669.0,1022.0,107.0,1995.0,197.0,651.0,1013.0,107.0,1968.0
2,Nfld.Lab.,St. John's,St. John's West,St. John's West,Row,0.0,46.0,21.0,0.0,67.0,...,0.0,48.0,21.0,0.0,69.0,0.0,48.0,21.0,0.0,69.0
3,Nfld.Lab.,St. John's,St. John's West,St. John's West,Apt & Other,149.0,427.0,859.0,126.0,1561.0,...,148.0,427.0,858.0,125.0,1558.0,147.0,409.0,857.0,121.0,1534.0
4,Nfld.Lab.,St. John's,Remainder of CMA,Remainder of CMA,Row,0.0,0.0,64.0,6.0,70.0,...,0.0,4.0,79.0,6.0,89.0,0.0,4.0,83.0,6.0,93.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1787,B.C.,Victoria,North Saanich,North Saanich,Apt & Other,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1788,B.C.,Victoria,Sidney,Sidney,Row,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1789,B.C.,Victoria,Sidney,Sidney,Apt & Other,5.0,143.0,107.0,1.0,256.0,...,9.0,157.0,126.0,1.0,293.0,13.0,177.0,129.0,4.0,323.0
1790,Que,Montréal,Saint-Lin-Laurentides V,Saint-Lin–Laurentides V,Row,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1791,Que,Montréal,Saint-Lin-Laurentides V,Saint-Lin–Laurentides V,Apt & Other,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,5.0,80.0,993.0,181.0,1259.0

In [11]:
df_22 = pd.merge(df_21,df_2022_wy, how = "outer", on =[ "Province","Centre","Zone","Neighbourhood","Dwelling Type "])

In [12]:
df_22

,Province,Centre,Zone,Neighbourhood,Dwelling Type,Bachelor 18,1 Bedroom 18,2 Bedroom 18,3 Bedroom + 18,Total 18,...,Bachelor 21,1 Bedroom 21,2 Bedroom 21,3 Bedroom + 21,Total 21,Bachelor,1 Bedroom,2 Bedroom,3 Bedroom +,Total
0,Nfld.Lab.,St. John's,St. John's East,St. John's East,Row,1.0,22.0,16.0,16.0,55.0,...,1.0,22.0,18.0,17.0,58.0,1.0,21.0,18.0,17.0,57.0
1,Nfld.Lab.,St. John's,St. John's East,St. John's East,Apt & Other,203.0,641.0,1015.0,107.0,1966.0,...,197.0,651.0,1013.0,107.0,1968.0,230.0,708.0,1066.0,106.0,2110.0
2,Nfld.Lab.,St. John's,St. John's West,St. John's West,Row,0.0,46.0,21.0,0.0,67.0,...,0.0,48.0,21.0,0.0,69.0,0.0,47.0,20.0,0.0,67.0
3,Nfld.Lab.,St. John's,St. John's West,St. John's West,Apt & Other,149.0,427.0,859.0,126.0,1561.0,...,147.0,409.0,857.0,121.0,1534.0,210.0,474.0,862.0,123.0,1669.0
4,Nfld.Lab.,St. John's,Remainder of CMA,Remainder of CMA,Row,0.0,0.0,64.0,6.0,70.0,...,0.0,4.0,83.0,6.0,93.0,0.0,4.0,83.0,6.0,93.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1787,B.C.,Victoria,North Saanich,North Saanich,Apt & Other,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1788,B.C.,Victoria,Sidney,Sidney,Row,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1789,B.C.,Victoria,Sidney,Sidney,Apt & Other,5.0,143.0,107.0,1.0,256.0,...,13.0,177.0,129.0,4.0,323.0,13.0,248.0,163.0,21.0,445.0
1790,Que,Montréal,Saint-Lin-Laurentides V,Saint-Lin–Laurentides V,Row,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1791,Que,Montréal,Saint-Lin-Laurentides V,Saint-Lin–Laurentides V,Apt & Other,NaN,NaN,NaN,NaN,NaN,...,5.0,80.0,993.0,181.0,1259.0,5.0,119.0,1126.0,212.0,1462.0

In [13]:
df_22.columns

Index(['Province', 'Centre', 'Zone', 'Neighbourhood', 'Dwelling Type ',
       'Bachelor  18', '1 Bedroom 18', '2 Bedroom 18', '3 Bedroom + 18',
       'Total  18', 'Bachelor  19', '1 Bedroom 19', '2 Bedroom 19',
       '3 Bedroom + 19', 'Total  19', 'Bachelor  20', '1 Bedroom 20',
       '2 Bedroom 20', '3 Bedroom + 20', 'Total  20', 'Bachelor  21',
       '1 Bedroom 21', '2 Bedroom 21', '3 Bedroom + 21', 'Total  21',
       'Bachelor ', '1 Bedroom', '2 Bedroom', '3 Bedroom +', 'Total '],
      dtype='object')

In [14]:
df_combined = df_22.rename(columns = {'Bachelor ':'Bachelor  22' , 
                                      '1 Bedroom': '1 Bedroom 22' , 
                                      '2 Bedroom': '2 Bedroom 22',
                                      '3 Bedroom +' : '3 Bedroom + 22' , 'Total ': 'Total  22'})

In [15]:
df_combined = df_combined.fillna(0)

In [16]:
df_combined.to_csv("Number_of_units_merged_clean.csv",index=False)