In [1]:
import pandas as pd
import numpy as np

In [2]:
filepath_2018 = "VR_clean_2018.csv"
filepath_2019 = "VR_clean_2019.csv"
filepath_2020 = "VR_clean_2020.csv"
filepath_2021 = "VR_clean_2021.csv"
filepath_2022 = "VR_clean_2022.csv"

In [3]:
df_2018 = pd.read_csv(filepath_2018)
df_2019 = pd.read_csv(filepath_2019)
df_2020 = pd.read_csv(filepath_2020)
df_2021 = pd.read_csv(filepath_2021)
df_2022 = pd.read_csv(filepath_2022)

In [4]:
df_2018_wy = df_2018.loc[:, df_2018.columns != "Year"]
df_2019_wy = df_2019.loc[:, df_2019.columns != "Year"]
df_2020_wy = df_2020.loc[:, df_2020.columns != "Year"]
df_2021_wy = df_2021.loc[:, df_2021.columns != "Year"]
df_2022_wy = df_2022.loc[:, df_2022.columns != "Year"]

In [5]:
df_18_19 = pd.merge(df_2018_wy,df_2019_wy, how = "outer", on =[ "Province","Centre","Zone","Neighbourhood","Dwelling Type "], suffixes = (" 18" ," 19"))

In [6]:
df_18_19

,Province,Centre,Zone,Neighbourhood,Dwelling Type,Bachelor 18,1 Bedroom 18,2 Bedroom 18,3 Bedroom + 18,Total 18,Bachelor 19,1 Bedroom 19,2 Bedroom 19,3 Bedroom + 19,Total 19
0,Nfld.Lab.,St. John's,St. John's East,St. John's East,Row,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Nfld.Lab.,St. John's,St. John's East,St. John's East,Apt & Other,NaN,3.9,6.4,5.2,5.6,3.6,NaN,5.7,NaN,6.3
2,Nfld.Lab.,St. John's,St. John's West,St. John's West,Row,NaN,NaN,0.0,NaN,1.5,NaN,NaN,4.8,NaN,3.0
3,Nfld.Lab.,St. John's,St. John's West,St. John's West,Apt & Other,3.9,6.1,6.1,NaN,6.2,6.0,4.6,7.3,4.0,6.1
4,Nfld.Lab.,St. John's,Remainder of CMA,Remainder of CMA,Row,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1785,B.C.,Victoria,Oak Bay,Oak Bay North,Apt & Other,0.0,1.8,5.3,NaN,3.3,0.0,0.3,0.4,NaN,0.3
1786,B.C.,Victoria,North Saanich,North Saanich,Row,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1787,B.C.,Victoria,North Saanich,North Saanich,Apt & Other,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1788,B.C.,Victoria,Sidney,Sidney,Row,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1789,B.C.,Victoria,Sidney,Sidney,Apt & Other,NaN,1.3,NaN,NaN,0.8,NaN,NaN,NaN,NaN,NaN

In [7]:
df_20 = pd.merge(df_18_19,df_2020_wy, how = "outer", on =[ "Province","Centre","Zone","Neighbourhood","Dwelling Type "])

In [8]:
df_20

,Province,Centre,Zone,Neighbourhood,Dwelling Type,Bachelor 18,1 Bedroom 18,2 Bedroom 18,3 Bedroom + 18,Total 18,Bachelor 19,1 Bedroom 19,2 Bedroom 19,3 Bedroom + 19,Total 19,Bachelor,1 Bedroom,2 Bedroom,3 Bedroom +,Total
0,Nfld.Lab.,St. John's,St. John's East,St. John's East,Row,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Nfld.Lab.,St. John's,St. John's East,St. John's East,Apt & Other,NaN,3.9,6.4,5.2,5.6,3.6,NaN,5.7,NaN,6.3,NaN,5.2,8.3,NaN,7.1
2,Nfld.Lab.,St. John's,St. John's West,St. John's West,Row,NaN,NaN,0.0,NaN,1.5,NaN,NaN,4.8,NaN,3.0,NaN,NaN,4.8,NaN,1.4
3,Nfld.Lab.,St. John's,St. John's West,St. John's West,Apt & Other,3.9,6.1,6.1,NaN,6.2,6.0,4.6,7.3,4.0,6.1,7.5,6.5,8.1,NaN,7.5
4,Nfld.Lab.,St. John's,Remainder of CMA,Remainder of CMA,Row,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.5,NaN,1.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1785,B.C.,Victoria,Oak Bay,Oak Bay North,Apt & Other,0.0,1.8,5.3,NaN,3.3,0.0,0.3,0.4,NaN,0.3,NaN,1.3,0.9,NaN,1.1
1786,B.C.,Victoria,North Saanich,North Saanich,Row,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1787,B.C.,Victoria,North Saanich,North Saanich,Apt & Other,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1788,B.C.,Victoria,Sidney,Sidney,Row,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1789,B.C.,Victoria,Sidney,Sidney,Apt & Other,NaN,1.3,NaN,NaN,0.8,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0

In [9]:
df_21 = pd.merge(df_20,df_2021_wy, how = "outer", on =[ "Province","Centre","Zone","Neighbourhood","Dwelling Type "], suffixes = (" 20"," 21"))

In [10]:
df_21

,Province,Centre,Zone,Neighbourhood,Dwelling Type,Bachelor 18,1 Bedroom 18,2 Bedroom 18,3 Bedroom + 18,Total 18,...,Bachelor 20,1 Bedroom 20,2 Bedroom 20,3 Bedroom + 20,Total 20,Bachelor 21,1 Bedroom 21,2 Bedroom 21,3 Bedroom + 21,Total 21
0,Nfld.Lab.,St. John's,St. John's East,St. John's East,Row,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Nfld.Lab.,St. John's,St. John's East,St. John's East,Apt & Other,NaN,3.9,6.4,5.2,5.6,...,NaN,5.2,8.3,NaN,7.1,10.6,NaN,1.9,NaN,3.1
2,Nfld.Lab.,St. John's,St. John's West,St. John's West,Row,NaN,NaN,0.0,NaN,1.5,...,NaN,NaN,4.8,NaN,1.4,NaN,NaN,0.0,NaN,8.7
3,Nfld.Lab.,St. John's,St. John's West,St. John's West,Apt & Other,3.9,6.1,6.1,NaN,6.2,...,7.5,6.5,8.1,NaN,7.5,4.6,5.4,2.7,0.8,3.5
4,Nfld.Lab.,St. John's,Remainder of CMA,Remainder of CMA,Row,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.5,NaN,1.4,NaN,NaN,0.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1787,B.C.,Victoria,North Saanich,North Saanich,Apt & Other,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1788,B.C.,Victoria,Sidney,Sidney,Row,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1789,B.C.,Victoria,Sidney,Sidney,Apt & Other,NaN,1.3,NaN,NaN,0.8,...,NaN,0.0,NaN,NaN,0.0,NaN,0.0,1.0,0.0,0.5
1790,Que,Montréal,Saint-Lin-Laurentides V,Saint-Lin–Laurentides V,Row,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1791,Que,Montréal,Saint-Lin-Laurentides V,Saint-Lin–Laurentides V,Apt & Other,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN

In [11]:
df_22 = pd.merge(df_21,df_2022_wy, how = "outer", on =[ "Province","Centre","Zone","Neighbourhood","Dwelling Type "])

In [12]:
df_22

,Province,Centre,Zone,Neighbourhood,Dwelling Type,Bachelor 18,1 Bedroom 18,2 Bedroom 18,3 Bedroom + 18,Total 18,...,Bachelor 21,1 Bedroom 21,2 Bedroom 21,3 Bedroom + 21,Total 21,Bachelor,1 Bedroom,2 Bedroom,3 Bedroom +,Total
0,Nfld.Lab.,St. John's,St. John's East,St. John's East,Row,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Nfld.Lab.,St. John's,St. John's East,St. John's East,Apt & Other,NaN,3.9,6.4,5.2,5.6,...,10.6,NaN,1.9,NaN,3.1,4.5,3.6,2.5,NaN,3.2
2,Nfld.Lab.,St. John's,St. John's West,St. John's West,Row,NaN,NaN,0.0,NaN,1.5,...,NaN,NaN,0.0,NaN,8.7,NaN,NaN,0.0,NaN,0.0
3,Nfld.Lab.,St. John's,St. John's West,St. John's West,Apt & Other,3.9,6.1,6.1,NaN,6.2,...,4.6,5.4,2.7,0.8,3.5,7.4,2.8,0.9,3.0,2.5
4,Nfld.Lab.,St. John's,Remainder of CMA,Remainder of CMA,Row,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1787,B.C.,Victoria,North Saanich,North Saanich,Apt & Other,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1788,B.C.,Victoria,Sidney,Sidney,Row,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1789,B.C.,Victoria,Sidney,Sidney,Apt & Other,NaN,1.3,NaN,NaN,0.8,...,NaN,0.0,1.0,0.0,0.5,NaN,NaN,6.9,NaN,NaN
1790,Que,Montréal,Saint-Lin-Laurentides V,Saint-Lin–Laurentides V,Row,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1791,Que,Montréal,Saint-Lin-Laurentides V,Saint-Lin–Laurentides V,Apt & Other,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df_22.columns

Index(['Province', 'Centre', 'Zone', 'Neighbourhood', 'Dwelling Type ',
       'Bachelor  18', '1 Bedroom 18', '2 Bedroom 18', '3 Bedroom + 18',
       'Total  18', 'Bachelor  19', '1 Bedroom 19', '2 Bedroom 19',
       '3 Bedroom + 19', 'Total  19', 'Bachelor  20', '1 Bedroom 20',
       '2 Bedroom 20', '3 Bedroom + 20', 'Total  20', 'Bachelor  21',
       '1 Bedroom 21', '2 Bedroom 21', '3 Bedroom + 21', 'Total  21',
       'Bachelor ', '1 Bedroom', '2 Bedroom', '3 Bedroom +', 'Total '],
      dtype='object')

In [14]:
df_combined = df_22.rename(columns = {'Bachelor ':'Bachelor  22' , 
                                      '1 Bedroom': '1 Bedroom 22' , 
                                      '2 Bedroom': '2 Bedroom 22',
                                      '3 Bedroom +' : '3 Bedroom + 22' , 'Total ': 'Total  22'})

In [15]:
df_combined = df_combined.fillna(0)
df_combined

,Province,Centre,Zone,Neighbourhood,Dwelling Type,Bachelor 18,1 Bedroom 18,2 Bedroom 18,3 Bedroom + 18,Total 18,...,Bachelor 21,1 Bedroom 21,2 Bedroom 21,3 Bedroom + 21,Total 21,Bachelor 22,1 Bedroom 22,2 Bedroom 22,3 Bedroom + 22,Total 22
0,Nfld.Lab.,St. John's,St. John's East,St. John's East,Row,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Nfld.Lab.,St. John's,St. John's East,St. John's East,Apt & Other,0.0,3.9,6.4,5.2,5.6,...,10.6,0.0,1.9,0.0,3.1,4.5,3.6,2.5,0.0,3.2
2,Nfld.Lab.,St. John's,St. John's West,St. John's West,Row,0.0,0.0,0.0,0.0,1.5,...,0.0,0.0,0.0,0.0,8.7,0.0,0.0,0.0,0.0,0.0
3,Nfld.Lab.,St. John's,St. John's West,St. John's West,Apt & Other,3.9,6.1,6.1,0.0,6.2,...,4.6,5.4,2.7,0.8,3.5,7.4,2.8,0.9,3.0,2.5
4,Nfld.Lab.,St. John's,Remainder of CMA,Remainder of CMA,Row,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1787,B.C.,Victoria,North Saanich,North Saanich,Apt & Other,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1788,B.C.,Victoria,Sidney,Sidney,Row,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1789,B.C.,Victoria,Sidney,Sidney,Apt & Other,0.0,1.3,0.0,0.0,0.8,...,0.0,0.0,1.0,0.0,0.5,0.0,0.0,6.9,0.0,0.0
1790,Que,Montréal,Saint-Lin-Laurentides V,Saint-Lin–Laurentides V,Row,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1791,Que,Montréal,Saint-Lin-Laurentides V,Saint-Lin–Laurentides V,Apt & Other,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
df_combined.to_csv("VR_merged_clean.csv",index=False)