In [22]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

In [25]:
#Reading the files
path_rental = "Resources/Average Rents_Concat.csv"
# path_Number_of_Units = pd.re("Resources/Number_of_Units_Concat.csv")
rental_df = pd.read_csv(path_rental)
rental_df

,Province,Centre,Zone,Neighbourhood,Dwelling Type,Bachelor,1 Bedroom,2 Bedroom,3 Bedroom +,Total,Year
0,Nfld.Lab.,St. John's,St. John's East,St. John's East,Row,0.0,783.0,943.0,0.0,1166.0,2018
1,Nfld.Lab.,St. John's,St. John's East,St. John's East,Apt & Other,664.0,829.0,1049.0,1002.0,941.0,2018
2,Nfld.Lab.,St. John's,St. John's West,St. John's West,Row,0.0,0.0,743.0,0.0,576.0,2018
3,Nfld.Lab.,St. John's,St. John's West,St. John's West,Apt & Other,762.0,773.0,881.0,959.0,839.0,2018
4,Nfld.Lab.,St. John's,Remainder of CMA,Remainder of CMA,Row,0.0,0.0,0.0,0.0,0.0,2018
...,...,...,...,...,...,...,...,...,...,...,...
8945,B.C.,Victoria,Oak Bay,Oak Bay North,Apt & Other,1107.0,1226.0,1679.0,0.0,1405.0,2022
8946,B.C.,Victoria,North Saanich,North Saanich,Row,0.0,0.0,0.0,0.0,0.0,2022
8947,B.C.,Victoria,North Saanich,North Saanich,Apt & Other,0.0,0.0,0.0,0.0,0.0,2022
8948,B.C.,Victoria,Sidney,Sidney,Row,0.0,0.0,0.0,0.0,0.0,2022
8949,B.C.,Victoria,Sidney,Sidney,Apt & Other,0.0,1447.0,1753.0,3093.0,1635.0,2022

In [37]:
province_stats = rental_df.groupby(['Province'])[["Bachelor ",'1 Bedroom', '2 Bedroom', '3 Bedroom +',"Total "]].agg(['mean', 'var', 'std', 'sem'])
province_stats.round(2)

          Bachelor                            1 Bedroom                     \
               mean        var     std    sem      mean        var     std
Province
Alta         170.99  117489.23  342.77   9.77    457.58  269578.55  519.21
B.C.         389.57  299891.56  547.62  16.90    603.96  451556.44  671.98
Man.         273.43  133269.21  365.06  21.44    465.38  238867.54  488.74
N.B.         123.03   65393.60  255.72  15.86    283.43  140670.57  375.06
N.S.         181.63  122012.54  349.30  21.66    414.47  254847.40  504.82
Nfld.Lab.    246.60  126891.08  356.22  65.04    511.33  159272.78  399.09
Ont.         241.82  183899.19  428.83   7.28    485.01  361183.73  600.99
Que          141.07   68709.21  262.12   5.88    278.55  139054.18  372.90
Sask.        220.84  114717.53  338.70  17.61    468.38  236574.15  486.39

                 2 Bedroom                           3 Bedroom +              \
             sem      mean        var     std    sem        mean         var
Province
Alta       14.80    661.91  371152.58  609.22  17.37      483.04   439865.31
B.C.       20.74    813.18  815652.52  903.13  27.87      541.43  1016868.36
Man.       28.70    637.96  374329.09  611.82  35.93      659.83   583487.31
N.B.       23.26    362.98  211685.76  460.09  28.53      238.64   183479.37
N.S.       31.31    601.35  447802.24  669.18  41.50      579.31   604524.58
Nfld.Lab.  72.86    810.50   86717.50  294.48  53.76      456.30   224081.32
Ont.       10.20    632.58  525378.62  724.83  12.30      457.88   570710.53
Que         8.36    390.73  204827.11  452.58  10.15      374.58   258909.57
Sask.      25.29    553.44  323382.25  568.67  29.56      382.37   379179.01

                           Total
               std    sem    mean        var     std    sem
Province
Alta        663.22  18.91  727.16  336217.13  579.84  16.53
B.C.       1008.40  31.12  760.97  597931.11  773.26  23.86
Man.        763.86  44.86  783.01  316114.18  562.24  33.02
N.B.        428.34  26.56  357.29  196560.49  443.35  27.50
N.S.        777.51  48.22  671.93  413114.35  642.74  39.86
Nfld.Lab.   473.37  86.43  823.17   84616.01  290.89  53.11
Ont.        755.45  12.82  663.88  466810.79  683.24  11.60
Que         508.83  11.41  405.70  197502.21  444.41   9.96
Sask.       615.78  32.01  578.63  303944.05  551.31  28.66

In [38]:
stats = province_stats.to_excel("Statistcs summary.xlsx",
             sheet_name='Ontario')

In [39]:
#Create a funtion to extract based on the province and year 
def data_set(filepath,Province,Year,column):
    get_df = pd.read_csv(filepath)
    df = get_df.loc[(rental_df["Year"] == Year )& (get_df["Province"] == Province)]
    df_Province = df[(df[column]!=0)]
    return df_Province

In [40]:
#Check if the function works fine and get the Ont.province
Year = 2022
column = "1 Bedroom"
df_Ontario = data_set(path_rental, "Ont.",Year,column)
df_Ontario

,Province,Centre,Zone,Neighbourhood,Dwelling Type,Bachelor,1 Bedroom,2 Bedroom,3 Bedroom +,Total,Year
7669,Ont.,Barrie,Barrie,Downtown,Apt & Other,1067.0,1294.0,1571.0,1516.0,1412.0,2022
7673,Ont.,Barrie,Barrie,North Barrie,Apt & Other,0.0,1341.0,1516.0,0.0,1423.0,2022
7675,Ont.,Barrie,Barrie,East End,Apt & Other,0.0,1311.0,1464.0,0.0,1398.0,2022
7677,Ont.,Barrie,Barrie,South Barrie,Apt & Other,0.0,1625.0,1804.0,0.0,1746.0,2022
7683,Ont.,Belleville,City of Belleville,Belleville (Southwest),Apt & Other,979.0,1145.0,1340.0,1711.0,1285.0,2022
...,...,...,...,...,...,...,...,...,...,...,...
8347,Ont.,Windsor,East Outer,Fontainebleau,Apt & Other,1044.0,1151.0,1267.0,1426.0,1242.0,2022
8353,Ont.,Windsor,West,University,Apt & Other,742.0,955.0,1080.0,1077.0,984.0,2022
8355,Ont.,Windsor,West,Sandwich,Apt & Other,795.0,962.0,1103.0,0.0,1017.0,2022
8359,Ont.,Windsor,Amherstburg,Amherstburg,Apt & Other,0.0,1165.0,1348.0,0.0,1259.0,2022
8361,Ont.,Windsor,Remainder of CMA,Remainder of CMA,Apt & Other,0.0,1056.0,1190.0,0.0,1124.0,2022

In [41]:
#define Provinces name in the list
Province = ['Ont.']
Province

['Ont.']

In [42]:
# Using the aggregation method, to produce the summary statistics in a single line for all bedrooms in Ontario
Centre_df= df_Ontario.groupby(['Centre'])[["Bachelor ",'1 Bedroom', '2 Bedroom', '3 Bedroom +',"Total "]].agg(['mean', 'var', 'std', 'sem'])
Centre_df.round(2)

                               Bachelor                             1 Bedroom  \
                                    mean        var     std     sem      mean
Centre
Barrie                            266.75  284622.25  533.50  266.75   1392.75
Belleville                        195.80  191688.20  437.82  195.80   1055.40
Brantford                         300.00  220928.40  470.03  191.89   1131.00
Greater Sudbury / Grand Sudbur    549.57  146206.95  382.37  144.52    944.14
Guelph                            986.00    1752.00   41.86   20.93   1326.50
Hamilton                          560.40  231582.78  481.23  107.61   1221.30
Kingston                          322.80  230692.03  480.30  124.01   1202.93
Kitchener - Cambridge - Waterl    417.33  286959.38  535.69  138.31   1225.13
London                            369.23  212772.18  461.27   98.34   1105.14
Oshawa                            837.25  326407.58  571.32  285.66   1252.50
Ottawa                           1005.77  133017.14  364.72   77.76   1366.36
Peterborough                      523.40  229069.80  478.61  214.04   1121.40
St. Catharines - Niagara          199.00  138403.62  372.03   90.23   1064.06
Thunder Bay                       514.83  161920.17  402.39  164.28    976.83
Toronto                           787.88  352330.49  593.57   53.52   1489.10
Windsor                           502.67  207362.97  455.37  131.45   1030.25

                                                        2 Bedroom             \
                                     var     std    sem      mean        var
Centre
Barrie                          24350.92  156.05  78.02   1588.75   22500.92
Belleville                      22730.80  150.77  67.43   1260.60   18082.30
Brantford                        9144.40   95.63  39.04   1261.33   12126.27
Greater Sudbury / Grand Sudbur  29682.81  172.29  65.12   1212.00   25664.00
Guelph                           1443.00   37.99  18.99   1488.00   10895.33
Hamilton                        41060.43  202.63  45.31   1425.05   56970.37
Kingston                        35446.78  188.27  48.61   1369.27  193567.21
Kitchener - Cambridge - Waterl  33911.55  184.15  47.55   1446.20   57101.74
London                          32580.50  180.50  38.48   1334.36   79194.91
Oshawa                           9012.33   94.93  47.47   1407.75    6571.58
Ottawa                          41440.53  203.57  43.40   1673.55   63700.55
Peterborough                     7074.80   84.11  37.62   1354.60    6904.80
St. Catharines - Niagara        11886.31  109.02  26.44   1260.12   14400.99
Thunder Bay                      9134.17   95.57  39.02   1201.83   16069.37
Toronto                         50678.30  225.12  20.30   1700.65  288532.87
Windsor                         10338.39  101.68  29.35   1111.75  131508.93

                                               3 Bedroom +              \
                                   std     sem        mean         var
Centre
Barrie                          150.00   75.00      379.00   574564.00
Belleville                      134.47   60.14      903.60   721595.30
Brantford                       110.12   44.96     1123.67   329492.27
Greater Sudbury / Grand Sudbur  160.20   60.55      441.43   568404.62
Guelph                          104.38   52.19     1157.00   604476.00
Hamilton                        238.68   53.37     1279.35   495038.03
Kingston                        439.96  113.60      635.80   725812.17
Kitchener - Cambridge - Waterl  238.96   61.70     1272.93   561196.07
London                          281.42   60.00      858.14   840398.22
Oshawa                           81.07   40.53     1282.25   784510.92
Ottawa                          252.39   53.81     1115.55   932603.88
Peterborough                     83.10   37.16     1237.20   484474.70
St. Catharines - Niagara        120.00   29.11      497.29   490448.97
Thunder Bay                     126.77   51.75      736.00   676719.60
Toronto                         537.15   48.43     1284.53  1167196.45
Windsor                         362.64  104.69      468.75   493883.66

                                                  Total                      \
                                    std     sem     mean        var     std
Centre
Barrie                           758.00  379.00  1494.75   28160.92  167.81
Belleville                       849.47  379.89  1211.20   20334.20  142.60
Brantford                        574.01  234.34  1221.17    8282.97   91.01
Greater Sudbury / Grand Sudbur   753.93  284.96  1114.86   25268.48  158.96
Guelph                           777.48  388.74  1418.25    3996.25   63.22
Hamilton                         703.59  157.33  1340.50   56645.95  238.00
Kingston                         851.95  219.97  1387.13   54516.27  233.49
Kitchener - Cambridge - Waterl   749.13  193.42  1375.07   47635.50  218.26
London                           916.73  195.45  1252.77   65970.09  256.85
Oshawa                           885.73  442.86  1363.25    7588.92   87.11
Ottawa                           965.71  205.89  1488.23   40513.80  201.28
Peterborough                     696.04  311.28  1263.60    5708.80   75.56
St. Catharines - Niagara         700.32  169.85  1203.41   14265.26  119.44
Thunder Bay                      822.63  335.84  1119.33   12048.67  109.77
Toronto                         1080.37   97.41  1627.31  109296.26  330.60
Windsor                          702.77  202.87  1092.67   11418.42  106.86


                                  sem
Centre
Barrie                          83.91
Belleville                      63.77
Brantford                       37.16
Greater Sudbury / Grand Sudbur  60.08
Guelph                          31.61
Hamilton                        53.22
Kingston                        60.29
Kitchener - Cambridge - Waterl  56.35
London                          54.76
Oshawa                          43.56
Ottawa                          42.91
Peterborough                    33.79
St. Catharines - Niagara        28.97
Thunder Bay                     44.81
Toronto                         29.81
Windsor                         30.85

In [47]:
df_Toronto = df_Ontario[(df_Ontario["Centre"]=="Toronto")]
Zone_df= df_Toronto.groupby(['Zone'])[["Bachelor ",'1 Bedroom', '2 Bedroom', '3 Bedroom +',"Total "]].agg(['mean', 'var', 'std', 'sem'])
Zone_df.round(2)

                                        Bachelor                              \
                                             mean        var     std     sem
Zone
Aurora, Newmkt, Whit-St.                     0.00       0.00    0.00    0.00
Bradford/West Gwillimbury/New Tecumseth   1069.00        NaN     NaN     NaN
Brampton (East)                           1339.00        NaN     NaN     NaN
Brampton (West)                           1166.00        NaN     NaN     NaN
East York                                  992.57  196866.95  443.70  167.70
Etobicoke (Central)                        438.56  444635.78  666.81  222.27
Etobicoke (North)                          738.67  409950.33  640.27  369.66
Etobicoke (South)                         1121.50    5823.00   76.31   38.15
Markham                                      0.00        NaN     NaN     NaN
Milton/Halton Hills                        911.00        NaN     NaN     NaN
Mississauga (Northeast)                    487.00  474338.00  688.72  487.00
Mississauga (Northwest)                    658.00  865928.00  930.55  658.00
Mississauga (South)                       1143.00   18597.00  136.37   78.73
North York (N.Central)                     653.80  362419.20  602.01  269.23
North York (Northeast)                     238.80  285127.20  533.97  238.80
North York (Northwest)                    1192.00   30752.00  175.36  124.00
North York (Southeast)                     922.20  269311.70  518.95  232.08
North York (Southwest)                     718.60  433852.80  658.68  294.57
Oakville                                   584.00  682112.00  825.90  584.00
Orangeville/Mono                             0.00        NaN     NaN     NaN
Pickering/Ajax/Uxbridge                      0.00       0.00    0.00    0.00
Richmond Hill/Vaughan/King                1315.00        NaN     NaN     NaN
Scarborough (Central)                      463.10  359981.43  599.98  189.73
Scarborough (East)                         658.50  589257.00  767.63  383.82
Scarborough (North)                        408.67  501025.33  707.83  408.67
Toronto (Central)                         1101.00  480366.57  693.08  245.04
Toronto (East)                             920.40  275696.30  525.07  234.82
Toronto (North)                           1229.10  192148.10  438.35  138.62
Toronto (West)                            1058.00  216622.00  465.43  164.55
York                                       990.89  143199.86  378.42  126.14

                                        1 Bedroom                             \
                                             mean        var     std     sem
Zone
Aurora, Newmkt, Whit-St.                  1264.67   55014.33  234.55  135.42
Bradford/West Gwillimbury/New Tecumseth   1051.00        NaN     NaN     NaN
Brampton (East)                           1642.00        NaN     NaN     NaN
Brampton (West)                           1432.00        NaN     NaN     NaN
East York                                 1346.29    6640.57   81.49   30.80
Etobicoke (Central)                       1699.89   35091.61  187.33   62.44
Etobicoke (North)                         1336.33   17966.33  134.04   77.39
Etobicoke (South)                         1327.25    4906.25   70.04   35.02
Markham                                   1431.00        NaN     NaN     NaN
Milton/Halton Hills                       1309.00        NaN     NaN     NaN
Mississauga (Northeast)                   1543.50    7812.50   88.39   62.50
Mississauga (Northwest)                   1634.00     200.00   14.14   10.00
Mississauga (South)                       1382.33    7358.33   85.78   49.53
North York (N.Central)                    1488.40   15098.30  122.88   54.95
North York (Northeast)                    1730.00  129523.00  359.89  160.95
North York (Northwest)                    1313.00      98.00    9.90    7.00
North York (Southeast)                    1463.60    5801.80   76.17   34.06
North York (Southwest)                    1359.60   22178.30  148.92   66.60
Oakville                                  1540.50      24.50    4.95    3.50
Orangeville/Mono                          1269.00        NaN     NaN     NaN
Pickering/Ajax/Uxbridge                   1291.00   19208.00  138.59   98.00
Richmond Hill/Vaughan/King                1348.00        NaN     NaN     NaN
Scarborough (Central)                     1446.70   19107.12  138.23   43.71
Scarborough (East)                        1394.75    9831.58   99.15   49.58
Scarborough (North)                       1376.67     758.33   27.54   15.90
Toronto (Central)                         1855.38   59409.12  243.74   86.18
Toronto (East)                            1397.80   10656.70  103.23   46.17
Toronto (North)                           1699.50   15247.39  123.48   39.05
Toronto (West)                            1468.62   27903.13  167.04   59.06
York                                      1343.44   41890.53  204.67   68.22

                                        2 Bedroom                       \
                                             mean         var      std
Zone
Aurora, Newmkt, Whit-St.                  1407.33    53924.33   232.22
Bradford/West Gwillimbury/New Tecumseth   1278.00         NaN      NaN
Brampton (East)                           1794.00         NaN      NaN
Brampton (West)                           1613.00         NaN      NaN
East York                                 1626.86    41765.48   204.37
Etobicoke (Central)                       2078.78   364015.69   603.34
Etobicoke (North)                         1511.00    27391.00   165.50
Etobicoke (South)                         1495.00    12530.00   111.94
Markham                                   1593.00         NaN      NaN
Milton/Halton Hills                       1523.00         NaN      NaN
Mississauga (Northeast)                   1666.00     1152.00    33.94
Mississauga (Northwest)                   1765.50    11100.50   105.36
Mississauga (South)                       1549.33     9474.33    97.34
North York (N.Central)                    1727.80    12148.70   110.22
North York (Northeast)                    2148.20   346044.70   588.26
North York (Northwest)                    1589.50    17484.50   132.23
North York (Southeast)                    1729.60    30251.80   173.93
North York (Southwest)                    1617.40    55115.80   234.77
Oakville                                  1880.00      288.00    16.97
Orangeville/Mono                          1455.00         NaN      NaN
Pickering/Ajax/Uxbridge                   1554.00      882.00    29.70
Richmond Hill/Vaughan/King                1580.00         NaN      NaN
Scarborough (Central)                     1651.50    33381.61   182.71
Scarborough (East)                        1524.00     7155.33    84.59
Scarborough (North)                       1565.00     4467.00    66.84
Toronto (Central)                         2116.25   959428.50   979.50
Toronto (East)                            1773.80    28206.20   167.95
Toronto (North)                           2147.70    28374.90   168.45
Toronto (West)                            1203.62  1037860.84  1018.75
York                                      1292.00   601830.50   775.78

                                                3 Bedroom +              \
                                            sem        mean         var
Zone
Aurora, Newmkt, Whit-St.                 134.07        0.00        0.00
Bradford/West Gwillimbury/New Tecumseth     NaN        0.00         NaN
Brampton (East)                             NaN     2000.00         NaN
Brampton (West)                             NaN     1714.00         NaN
East York                                 77.24     1115.43  1133498.95
Etobicoke (Central)                      201.11     1511.89  1377452.36
Etobicoke (North)                         95.55      632.33  1199536.33
Etobicoke (South)                         55.97     1410.25   890782.92
Markham                                     NaN     1770.00         NaN
Milton/Halton Hills                         NaN     1791.00         NaN
Mississauga (Northeast)                   24.00     1852.50      180.50
Mississauga (Northwest)                   74.50     1834.00    58482.00
Mississauga (South)                       56.20     1780.00    25123.00
North York (N.Central)                    49.29     1561.40   775340.80
North York (Northeast)                   263.08     1979.20  1672702.70
North York (Northwest)                    93.50     1752.00     6728.00
North York (Southeast)                    77.78     1996.20    74724.20
North York (Southwest)                   104.99     2092.00   147892.00
Oakville                                  12.00     1028.50  2115624.50
Orangeville/Mono                            NaN     1588.00         NaN
Pickering/Ajax/Uxbridge                   21.00      804.00  1292832.00
Richmond Hill/Vaughan/King                  NaN     2031.00         NaN
Scarborough (Central)                     57.78     1256.90   814291.88
Scarborough (East)                        42.29     1750.50    31411.67
Scarborough (North)                       38.59     1805.33     6586.33
Toronto (Central)                        346.31     1524.88  2780352.12
Toronto (East)                            75.11        0.00        0.00
Toronto (North)                           53.27     1136.60  2183430.27
Toronto (West)                           360.18      618.00  1360576.29
York                                     258.59      736.44  1287576.53

                                                            Total              \
                                             std      sem     mean        var
Zone
Aurora, Newmkt, Whit-St.                    0.00     0.00  1379.33   34302.33
Bradford/West Gwillimbury/New Tecumseth      NaN      NaN  1201.00        NaN
Brampton (East)                              NaN      NaN  1772.00        NaN
Brampton (West)                              NaN      NaN  1536.00        NaN
East York                                1064.66   402.40  1447.57   11259.95
Etobicoke (Central)                      1173.65   391.22  1984.56  175753.78
Etobicoke (North)                        1095.23   632.33  1483.67   45666.33
Etobicoke (South)                         943.81   471.91  1392.75   12980.92
Markham                                      NaN      NaN  1530.00        NaN
Milton/Halton Hills                          NaN      NaN  1444.00        NaN
Mississauga (Northeast)                    13.44     9.50  1639.00    2178.00
Mississauga (Northwest)                   241.83   171.00  1711.00    5408.00
Mississauga (South)                       158.50    91.51  1481.67    7822.33
North York (N.Central)                    880.53   393.79  1650.00   23284.50
North York (Northeast)                   1293.33   578.39  2070.40  346585.80
North York (Northwest)                     82.02    58.00  1518.00   13448.00
North York (Southeast)                    273.36   122.25  1656.20   25167.20
North York (Southwest)                    384.57   171.98  1537.80   41257.70
Oakville                                 1454.52  1028.50  1766.00     882.00
Orangeville/Mono                             NaN      NaN  1372.00        NaN
Pickering/Ajax/Uxbridge                  1137.03   804.00  1505.50    5100.50
Richmond Hill/Vaughan/King                   NaN      NaN  1522.00        NaN
Scarborough (Central)                     902.38   285.36  1562.50   20578.28
Scarborough (East)                        177.23    88.62  1519.50   10137.67
Scarborough (North)                        81.16    46.86  1524.33    2058.33
Toronto (Central)                        1667.44   589.53  2015.62  126164.27
Toronto (East)                              0.00     0.00  1465.20   19787.70
Toronto (North)                          1477.64   467.27  1819.00   20865.33
Toronto (West)                           1166.44   412.40  1557.25   37163.93
York                                     1134.71   378.24  1328.56  275732.53


                                            std     sem
Zone
Aurora, Newmkt, Whit-St.                 185.21  106.93
Bradford/West Gwillimbury/New Tecumseth     NaN     NaN
Brampton (East)                             NaN     NaN
Brampton (West)                             NaN     NaN
East York                                106.11   40.11
Etobicoke (Central)                      419.23  139.74
Etobicoke (North)                        213.70  123.38
Etobicoke (South)                        113.93   56.97
Markham                                     NaN     NaN
Milton/Halton Hills                         NaN     NaN
Mississauga (Northeast)                   46.67   33.00
Mississauga (Northwest)                   73.54   52.00
Mississauga (South)                       88.44   51.06
North York (N.Central)                   152.59   68.24
North York (Northeast)                   588.72  263.28
North York (Northwest)                   115.97   82.00
North York (Southeast)                   158.64   70.95
North York (Southwest)                   203.12   90.84
Oakville                                  29.70   21.00
Orangeville/Mono                            NaN     NaN
Pickering/Ajax/Uxbridge                   71.42   50.50
Richmond Hill/Vaughan/King                  NaN     NaN
Scarborough (Central)                    143.45   45.36
Scarborough (East)                       100.69   50.34
Scarborough (North)                       45.37   26.19
Toronto (Central)                        355.20  125.58
Toronto (East)                           140.67   62.91
Toronto (North)                          144.45   45.68
Toronto (West)                           192.78   68.16
York                                     525.10  175.03

In [48]:
stats = province_stats.to_excel("Statistcs summary.xlsx",
             sheet_name='Toronto')

In [12]:
# Using the aggregation method, to produce the summary statistics in a single line for all bedrooms in British Columbia
aggregation_totalbedrooms= df_BC.groupby(['Province'])[['1 Bedroom', '2 Bedroom', '3 Bedroom +']].agg(['mean', 'var', 'std', 'sem'])
aggregation_totalbedrooms.round(2)

         1 Bedroom                          2 Bedroom                     \
              mean       var     std    sem      mean        var     std
Province
B.C.       1442.67  65487.77  255.91  25.98   1815.99  325572.45  570.59

                3 Bedroom +
            sem        mean         var      std     sem
Province
B.C.      57.93     1265.72  1856171.43  1362.41  138.33